* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
}

#header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    background-color: white;
}

#header-img {
    width: 300px;
}

nav {
    grid-column: 4 / 6;}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul a {
    color: black;
    font-size: 1.8rem;
    text-decoration: none;
    align-items: center;
}

ul a li {
    list-style: none;
    align-items: center;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto 25px auto;
    text-align: center;
}

#hero h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#form {
    display: grid;
    justify-content: center;
}

#form input {
    margin-bottom: 2rem;
    justify-self: center;
    font-size: 1.6rem;
    padding-left: 10px;
}

#form input[type="email"] {
    width: 150%;
    height: 30px;
}
 
#form input[type="submit"] {
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    font-weight: 800;
    background-color: #f1c40f;
    border: none;
    cursor: pointer;
    transition: .5s;
}

#form input[type="submit"]:hover {
    background-color: #E4572E;
}

#features {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.feature {
    display: flex;
    align-items: center;
    margin: 20px 0;
    max-width: 900px;
}

.feature .icon {
    min-width: 100px;
}

.feature i {
    color: #E4572E;
    font-size: 6rem;
}

.feature .container-description {
    margin-left: 50px;
}

.feature .feature-title {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.feature .description {
    font-size: 1.6rem;
}

#how-it-works {
    display: flex;
    justify-content: center;
    margin: 50px auto 70px auto;
}

#how-it-works #video {
    width: 560px;
    height: 315px;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    text-align: center;
    min-width: 300px;
    border: 1px solid black;
    
}

.card .pricing-title {
    background-color: #dddddd;
    padding: 15px 0;
    font-size: 1.6rem;
}

.card .pricing-title > h2 {
    font-size: 2rem;
    font-weight: 500;
}

.card .card-description {
    padding: 15px;
}

.card .card-description .price {
    font-size: 2.4rem;
    font-weight: 500;
}

.card .card-description > p {
    font-size: 1.6rem;
}

.card .card-description > p:not(:last-child) {
    margin-bottom: 15px;
}

.select {
    font-size: 1.6rem;
    padding: 10px 30px;
    text-transform: uppercase;
    border: none;
    background-color: #f1c40f;
    cursor: pointer;
    transition: .5s;
}

.select:hover {
    background-color: #E4572E;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    font-size: 1.4rem;
    padding: 20px 30px 20px 0;
}

#footer-links a {
    font-size: 1.6rem;
    padding-left: 20px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}

#footer-links, #copyright {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
    #features {
        padding: 0 20%;
    }

    #pricing {
        flex-direction: column;
        padding: 0 30%;
    }
    
    footer {
        margin: 0;
    }
}

@media only screen and (max-width: 836px) {
    #nav-bar {
        grid-column: 5 / 6;
    }

    ul {
        flex-direction: column;
    }

    #hero {
        justify-content: center;
        margin: 140px auto 0 auto;
    }
}

@media only screen and (max-width: 717px) {
    #how-it-works #video {
        width: 400px;
        height: 224px;
    }

    .card {
        min-width: 200px;
    }
}

@media only screen and (max-width: 375px) {
    #header #nav-bar ul a {
        font-size: 1.6rem;
    }

    #header-img {
        width: 200px;
    }

    #hero {
        width: 80%;
    }

    #form {
        width: 60%;
        margin: 0 auto;
    }

    .feature .feature-title {
        margin-bottom: 10px;
    }

    .feature .container-description {
        margin-left: 15px;
    }

    #how-it-works #video {
        width: 300px;
        height: 168px;
    }

    .card {
        min-width: 150px;
    }

    .card .pricing-title {
        padding: 15px;
    }

    footer {
        padding: 20px 0;
    }

    #footer-links, #copyright {
        justify-content: center;
    }
}